* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.riquadro {
    font-family: "Arial";
    font-size: 20px;
    color: darkblue;
    background-color: cyan;
    height: 300px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #555;
}
.title {
    align-self: flex-start;
}